$t: 0.8s;
$d: $t / 5;

$c1: #13293d;
$c2: #006494;
$c3: #1b98e0;

svg {
  height: 0px;
  width: 0px;
}
  
@keyframes loader {
  50% {
    transform: translateY(-16px);
    background-color: $c3;
  }
}
  
.loader {
  filter: url('#goo');
  width: 100px;
  margin: 0 auto;
  margin-top: 20vh;
  position: relative;
  transform: translateY(-10px);
  > div {
    height: 20px;
    width: 20px;
    float: left;
    border-radius: 100%;
    background-color: $c2;
    animation: loader $t infinite;
  }
}
  
@for $i from 1 through 5 {
  .loader > div:nth-child(#{$i}) {
    animation-delay: $i * $d;
  }
}
  